<mat-toolbar class="patternColor">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="Home">
        <mat-icon>menu</mat-icon>
    </button>
    <span style="color:white" class=" position"> TECNOLOGY FITNES </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        routerLink="/imc">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        routerLink="/MenuTreino">
        <mat-icon>shareeeng build

        </mat-icon>
    </button>
</mat-toolbar>