.example-spacer {
    flex: 1 1 auto;

}

.position {
    margin-left: 20px;

}

.patternColor {
    background-image: url(https://wallpapercave.com/wp/wp2639541.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 50px;


}