.body {

    background-image: url(https://images.squarespace-cdn.com/content/v1/52388116e4b04f94a8f31f14/1619564275881-DRSABHUNF4YYIB0YXWGZ/Tech3.png?format=2500w);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    opacity: 98%;
}